$primary-color: #f231a5;
$secondary-color: #3cd3c1;
$text-light: #fff;

.button {
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: filter 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    filter: brightness(0.9);
  }

  span {
    font-size: 16px;
    color: $text-light;
  }
}

.button-primary {
  background: $primary-color;
}

.button-secondary {
  background: $secondary-color;
}

.button-outline {
  border: 1px solid $primary-color;
  background: none;

  & > span {
    color: $primary-color;
  }
}

.button-small {
  height: 39px;
  width: 120px;
}

.button-medium {
  height: 42px;
  width: 183px;
}

.button-fullWidth {
  width: 100%;
}