.header {
  color: var(--gray-700);
  box-shadow: 0 5px 10px -10px rgba(0,0,0,0.7);
  margin-bottom: 1rem;
}

.contentHeader {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.headerLeftBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  
  @media (max-width: 860px) {
    gap: 1rem;
  }

  img {
    width: 2.25rem;
  }

  .searchBox {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 860px) {
      display: none;
    }

    input {
      width: 420px;
      background: transparent;
      border: 1px solid var(--gray-700);
      border-right: 0;
      border-radius: 5px 0 0 5px;
      padding: 0.5rem;
      outline: none;
    }

    button {
      background: transparent;
      padding: 0.2rem;
      border: 1px solid var(--gray-700);
      border-left: 0;
      border-radius: 0 5px 5px 0;
    }
    
    .headerSearchIcon {
      font-size: 1.5rem;
    }
  }
}

.headerRightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  @media (max-width: 860px) {
    gap: 1rem;
  }

  > button {
    background: transparent;
    border: 0;

    @media (max-width: 860px) {
      display: none;
    }
  }

  .createPostButton, .createAccount {
    border: 1px solid var(--button-color);
    padding: 0.5rem 0.9375rem;
    border-radius: 7px;

    color: var(--button-color);

    transition: all 0.2s ease;
    
    &:hover{
      background-color: var(--button-color);
      color: var(--white);
    }

    @media (max-width: 860px) {
      display: none;
    }
  }

  .createAccount {
    display: flex;
  }

  .mobileSearch, .notificationIcon{
    display: none;
    font-size: 1.675rem;

    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 6px;

    transition: all 0.15s;

    &:hover {
      background: var(--hover-bg-color);
      color: var(--button-color);
    }

    @media (max-width: 860px) {
      display: flex;
    }
  }

  .notificationIcon{
    display: flex;
  }

  > img {
    width: 36px;
    border: 1px solid rgb(0, 0, 0,0.5);
    border-radius: 50%;
    cursor: pointer;
  }
}