.homeContainer {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.formContainer input {
  margin-bottom: 16px;
}