.header {
  background-color: var(--bakground-gray);
  color: var(--white);

  box-shadow: 0 5px 10px -10px rgba(0,0,0,0.7);
}

.contentHeader {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  > img {
    width: 45px;
  }

  ul {
    display: flex;
    gap: 1rem;

    a {
      font-size: 1.25rem;
      transition: color 0.15s;

      &:hover {
        color: var(--hover-bg-color);
      }
    }
  }
} 